<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDLV Gaming</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<!--trang home -->
<div id="home">
    <a th:class="home-float" href="#" class="icons">
        <img th:src="@{/img/home/homeFloat.png}" alt="Lỗi hiển thị">
    </a>
    <!-- header -->
    <header>
        <div class="top-header">
            <div class="top-icons">
                <!--                target="_blank": yêu cầu trình duyệt mở tab mới-->
                <a href="https://www.facebook.com/" target="_blank" class="icons">
                    <img th:src="@{/img/home/facebook.png}" alt="Lỗi hiển thị">
                </a>
                <a href="https://www.tiktok.com/@kiki_000000?_t=8rqGWTUu1y5&_r=1" target="_blank" class="icons">
                    <img th:src="@{/img/home/tiktok.png}" alt="Lỗi hiển thị">
                </a>
                <a href="https://x.com/Yiint24?t=_9kv36zTbhujLr5HxyLXAg&s=09" target="_blank" class="icons">
                    <img th:src="@{/img/home/twitter.png}" alt="Lỗi hiển thị">
                </a>

            </div>
            <div class="search">
                <form th:action="@{/search/}" method="GET">
                    <label for="searchInput">
                        <input id="searchInput" type="text" name="searchInput" autofocus
                               placeholder="Bạn thích tựa game nào nhỉ ?">
                    </label>
                    <button type="submit">
                        <img th:src="@{/img/home/search.png}" alt="Tìm kiếm">
                    </button>
                </form>
            </div>
            <a href="#" class="track-order">Đơn hàng của bạn</a>
        </div>

        <div class="main-header">
            <div class="logo">
                <img th:src="@{/img/home/logo.png}" alt="logo">
                <a th:href="@{/}">
                    <p>BDLV <span>gaming</span></p>
                </a>
            </div>
            <nav class="nav-menu">
                <a href="#best-seller">Game bán chạy</a>
                <a href="#list-newest">Game mới ra mắt</a>
                <div class="main-header-category">
                    <div class="category-detail-toggle">
                        <p>Thể loại</p>
                        <img th:src="@{/img/home/arrowDown.png}" alt="">
                    </div>
                    <div class="category-detail">
                        <!-- /category/{id}: Đây là một URL mẫu, trong đó {id} là một phần động của URL.
                             (id=${category.categoryId}): Phần này sẽ thay thế {id} trong URL mẫu bằng giá trị của employee.id.
                        -->
                        <a th:href="@{/category/{id}(id=${category.categoryId})}" th:each="category:${categoryList}">
                            [[${category.categoryName}]]
                        </a>
                    </div>
                </div>
            </nav>
            <div class="icons">
                <a th:href="@{/user_info}"><img th:src="@{/img/home/user.png}" alt="Lỗi hiển thị"></a>
                <a th:href="@{/cart}"><img th:src="@{/img/home/cart.png}" alt="Lỗi hiển thị"></a>
            </div>
        </div>
    </header>

    <!-- banner -->
    <div class="banner">
        <div class="banner-contents">
            <h2>Luôn có tựa game bạn yêu thích !</h2>
            <p>
                BDLV Gaming là web bán game đa nền tảng (Steam, Epic Games, EA Games, Ubisoft) với giá cực kỳ hợp lý.
                Tại đây, người chơi có thể tìm thấy nhiều tựa game đa dạng thể loại, từ hành động, phiêu lưu đến thể
                thao, phù hợp với mọi sở thích. BDLV Gaming cam kết mang đến trải nghiệm mua game bản quyền an toàn, uy
                tín và tiết kiệm.
            </p>

        </div>

        <img th:src="@{/img/home/banner1.jpeg}" alt="Lỗi hiển thị">
    </div>

    <!-- product -->
    <div class="product">
        <!-- category -->
        <div class="category-menu">
            <h1>Thể Loại</h1>
            <p class="category-menu-text">
                BDLV Gaming mang đến thế giới game đa dạng với nhiều thể loại hấp dẫn: Hành động kịch tính, phiêu lưu
                đầy cuốn hút, chiến thuật đòi hỏi tư duy, nhập vai sâu sắc, kinh dị rùng rợn, thể thao sôi động, giải đố
                sáng tạo và mô phỏng sống động. Dù bạn yêu thích thử thách, khám phá hay giải trí nhẹ nhàng, BDLV Gaming
                đều có tựa game phù hợp, đáp ứng mọi phong cách và sở thích của bạn!
            </p>
            <div class="category-menu-list" id="category-menu-list" onclick="">
                <a th:href="@{/category/{id}(id=${category.categoryId})}" th:each="category:${categoryList}">
                    <img th:src="@{'/img/category/'+${category.categoryImg}}" alt="hành động"/>
                    <p class="category-name">
                        [[${category.categoryName}]]
                    </p>
                </a>
            </div>
        </div>

        <hr>
        <!-- product item newest game-->
        <div class="product-display" id="list-newest">
            <h1>Danh Sách Game Mới Nhất</h1>
            <div class="product-display-list">
                <a th:href="@{/game/{id}(id=${game.gameId})}" class="product-item" th:each="game: ${gameList}">
                    <img th:src="@{'/uploadImgGame/' + ${game.gameImg}}" alt="lỗi hiển thị" class="product-item-image"/>
                    <div class="product-item-infor">
                        <p class="product-item-name" th:text="${game.gameName}"></p>
                        <p class="product-item-price"
                           th:text="${#strings.replace(game.price, '000.00', '.000 ')} + Đ"></p>
                    </div>
                </a>
            </div>
            <!-- nếu currentPage nhỏ hơn totalPage thì mới show thẻ a để user xêm
             thêm game
             mỗi khi user ấn xêm thêm mình sẽ gọi request
             /page/?page=currentPage + 1, để show ra game của trang
             tiêp theo và cả trang trước
             currentPage < totalPage - 1: ví dụ tổng số trang là 2
             ban đầu đã load trang 0, sau đó load trang 1 đủ 2 trang,
             currentPage là 1 còn totalPage là 2 1 < 1 ko đúng
             đã xuất hế số trang có
             -->
            <a th:if="${currentPage < totalPage - 1}"
               th:href="@{'/' + '?page=' + ${currentPage + 1}}">
                <h3>Xem Thêm</h3>
            </a>
        </div>

        <hr>
        <!--        chưa sắp xếp theo bán chạy-->
        <!-- product item best seller game-->
        <div class="product-display" id="best-seller">
            <h1>Danh Sách Game Bán Chạy</h1>
            <div class="product-display-list best-seller">
                <a class="product-item" th:each="game: ${gameListSale}">
                    <img th:src="@{'/uploadImgGame/' + ${game.gameImg}}" alt="lỗi hiển thị" class="product-item-image"/>
                    <div class="product-item-infor">
                        <p class="product-item-name" th:text="${game.gameName}"></p>
                        <p class="product-item-price"
                           th:text="${#strings.replace(game.price, '000.00', '.000 ')} + Đ"></p>
                    </div>
                </a>
            </div>
            <!-- nếu currentPage nhỏ hơn totalPage thì mới show thẻ a để user xêm
             thêm game
             mỗi khi user ấn xêm thêm mình sẽ gọi request
             /page/?page=currentPage + 1, để show ra game của trang
             tiêp theo và cả trang trước
             currentPage < totalPage - 1: ví dụ tổng số trang là 2
             ban đầu đã load trang 0, sau đó load trang 1 đủ 2 trang,
             currentPage là 1 còn totalPage là 2 1 < 1 ko đúng
             đã xuất hế số trang có
             -->
            <a
                    th:if="${currentPageSale < totalPageSale - 1}"
                    th:href="@{'/' + '?pageSale=' + ${currentPageSale + 1}}">
                <h3>Xem Thêm</h3>
            </a>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="footer" id="footer">
            <div class="footer-content">
                <div class="footer-content-left">
                    <img th:src="@{/img/home/logo.png}" alt="logo">
                    <p>
                        BDLV Gaming là web bán game đa nền tảng (Steam, Epic Games, EA Games, Ubisoft) với giá cực kỳ
                        hợp lý. BDLV Gaming cam kết mang đến trải nghiệm mua game
                        bản quyền an toàn, uy tín và tiết kiệm.
                    </p>
                </div>
                <div class="footer-content-center">
                    <h2>Công ty BDLV GAMING</h2>
                    <ul>
                        <li>Trang chủ</li>
                        <li>Về chúng tôi</li>
                        <li>Đơn hàng của bạn</li>
                        <li>Chính sách</li>
                    </ul>
                </div>
                <div class="footer-content-right">
                    <h2>Liên hệ với chúng tôi thông qua</h2>
                    <ul>
                        <li>0933-223-872</li>
                        <li>BDLVGaming@gmail.com</li>
                    </ul>
                </div>
            </div>
            <hr/>
            <p class="footer-copyright">
                Copyright 2024 &copy; BDLVGaming.com - All Right Reserved
            </p>
        </div>
    </footer>

</div>

<script>
    // Tìm phần tử danh sách
    const scrollList = document.querySelector("#category-menu-list");
    // Hàm xử lý sự kiện lăn chuột
    const handleWheel = (event) => {
        event.preventDefault(); // Ngăn chặn cuộn dọc mặc định
        scrollList.scrollLeft += event.deltaY * 1.8; // Cuộn ngang
    };
    // Gán sự kiện 'wheel' vào phần tử
    scrollList.addEventListener("wheel", handleWheel);


    // toggle category detail
    const listCategory = document.querySelector(".category-detail")
    const btnToggleCategory = document.querySelector(".category-detail-toggle")
    const toggleCategoryDetail = () => {
        listCategory.classList.toggle("toggle-category")
    }
    btnToggleCategory.addEventListener("click", toggleCategoryDetail)

</script>
</body>
</html>