<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
  <body>
    <!--    header-->
    <header>
      <div class="top-header">
        <div class="top-icons">
          <a href="#" class="icons">
            <img th:src="@{/img/home/facebook.png}" alt="Lỗi hiển thị"></img>
          </a>
          <a href="#" class="icons">
            <img th:src="@{/img/home/tiktok.png}" alt="Lỗi hiển thị"></img>
          </a>
          <a href="#" class="icons">
            <img th:src="@{/img/home/twitter.png}" alt="Lỗi hiển thị"></img>
          </a>

        </div>
        <div class="search">
          <input type="text" name="inputName" autofocus placeholder="Bạn thích tựa game nào nhỉ ?">
          <a href="#"><img th:src="@{/img/home/search.png}" alt="Lỗi hiển thị"></img></a>
        </div>
        <a href="#">Theo dõi đơn hàng</a>
      </div>

      <div class="main-header">
        <div class="logo">
          <img th:src="@{/img/home/logo.png}" alt="logo">
          <p>BDLV <span>gaming</span></p>
        </div>
        <nav class="nav-menu">
          <a href="#">Trang chủ</a>
          <a href="#">Game bán chạy</a>
          <a href="#">Game mới ra mắt</a>
          <a href="#">Thể loại</a>
        </nav>
        <div class="icons">
          <a th:href="@{/user_info}"><img th:src="@{/img/home/user.png}" alt="Lỗi hiển thị"></img></a>
          <a th:href="@{/cart}"><img th:src="@{/img/home/cart.png}" alt="Lỗi hiển thị"></img></a>
        </div>
      </div>
    </header>

    <div class="header-cart">
      <h1>Giỏ hàng</h1>
      <div class="breadcrumb">
        <a th:href="@{/}">Trang chủ</a> | <a th:href="@{/cart}">Giỏ hàng</a>
      </div>
    </div>

    <div class="cart-container">
      <table>
        <thead>
          <tr>
            <th>Sản phẩm</th>
            <th>Phân loại</th>
            <th>Giá tiền</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
<!--            <td class="img-game"><a href=""><img th:src="@{/img/game/game1.jpg}" alt="Lỗi hiển thị"></img></a>Minimalistic shop for multipurpose use</td>-->
            <td class="img-game">
              <div style="display: flex; align-items: center;">
                <input type="checkbox" id="game1-select" style="margin-right: 10px;">
                <a href="">
                  <img th:src="@{/img/imgGame/game1.jpg}" alt="Lỗi hiển thị" style="display: inline-block;">
                </a>
              </div>
              Minimalistic shop for multipurpose use
            </td>
            <td>Bắn súng, Đối kháng, Sinh tồnBắn súng, Đối kháng, Sinh tồnBắn súng, Đối kháng, Sinh tồn</td>
            <td>$360.00</td>
            <td></td>
            <td>
              <div class="edit-control">
                <button>Xóa</button>
              </div>
            </td>
          </tr>
          <tr>
<!--            <td class="img-game"><a href=""><img th:src="@{/img/game/game2.jpg}" alt="Lỗi hiển thị"></img></a>Minimalistic shop for multipurpose use</td>-->
            <td class="img-game">
              <div style="display: flex; align-items: center;">
                <input type="checkbox" id="game2-select" style="margin-right: 10px;">
                <a href="">
                  <img th:src="@{/img/imgGame/game2.jpg}" alt="Lỗi hiển thị" style="display: inline-block;">
                </a>
              </div>
              Minimalistic shop for multipurpose use
            </td>
            <td>Nhập vai, Mô phỏng, Chiến thuật, </td>
            <td>$360.00</td>
            <td></td>
            <td>
              <div class="edit-control">
                <button>Xóa</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="cart-section">
      <div class="cart-item">
        <p>Tổng thanh toán (2 sản phẩm):</p> <p class="price">$2100.00</p>
      </div>
    </div>

    <div class="btn-order">
      <a th:href="@{/cart/pay}"><button>Mua hàng</button></a>
    </div>

  </body>
</html>