<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/confirmEmail.css}">
    <title>BDLV Gaming</title>
</head>

<body>
<div class="container" id="container">
    <div class="form-container sign-up">
        <h1>Confirm your Email</h1>
        <form
                action="/send-email"
                method="POST"
        >
            <div>
                <input type="email" name="email" placeholder="Enter your Email" required>
            </div>
            <div>
                <button type="submit">Confirm</button>
            </div>
            <div class="message" th:if="${error}!=null">
                [[${error}]]
            </div>
        </form>
    </div>
</div>
</body>

</html>
