<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Xử lý sự kiện tab
      const tabs = document.querySelectorAll(".tab-menu li");
      const panes = document.querySelectorAll(".tab-pane");

      // Lặp qua từng tab để gắn sự kiện click
      tabs.forEach((tab) => {
        tab.addEventListener("click", function () {
          // Bỏ trạng thái "active" của tất cả các tab và nội dung
          tabs.forEach((t) => t.classList.remove("active"));
          panes.forEach((pane) => pane.classList.remove("active"));

          // Kích hoạt tab được chọn và nội dung tương ứng
          const targetTab = this.getAttribute("data-tab"); // Lấy giá trị của thuộc tính "data-tab"
          document.getElementById(targetTab).classList.add("active"); // Hiển thị nội dung của tab
          this.classList.add("active"); // Đánh dấu tab hiện tại là "active"
        });
      });



    });
  </script>
</head>
<body>
    <a th:class="home-float" href="#" class="icons">
      <img th:src="@{/img/home/homeFloat.png}" alt="Lỗi hiển thị">
    </a>

    <!-- header -->
    <header>
      <div class="top-header">
        <div class="top-icons">
          <!--                target="_blank": yêu cầu trình duyệt mở tab mới-->
          <a href="https://www.facebook.com/" target="_blank" class="icons">
            <img th:src="@{/img/home/facebook.png}" alt="Lỗi hiển thị">
          </a>
          <a href="https://www.tiktok.com/@kiki_000000?_t=8rqGWTUu1y5&_r=1" target="_blank" class="icons">
            <img th:src="@{/img/home/tiktok.png}" alt="Lỗi hiển thị">
          </a>
          <a href="https://x.com/Yiint24?t=_9kv36zTbhujLr5HxyLXAg&s=09" target="_blank" class="icons">
            <img th:src="@{/img/home/twitter.png}" alt="Lỗi hiển thị">
          </a>

        </div>
<!--        <div class="search">-->
<!--          <form th:action="@{/search/}" method="GET">-->
<!--            <label for="searchInput">-->
<!--              <input id="searchInput" type="text" name="searchInput" autofocus-->
<!--                     placeholder="Bạn thích tựa game nào nhỉ ?">-->
<!--            </label>-->
<!--            <button type="submit">-->
<!--              <img th:src="@{/img/home/search.png}" alt="Tìm kiếm">-->
<!--            </button>-->
<!--          </form>-->
<!--        </div>-->
        <a href="#" class="track-order">Đơn hàng của bạn</a>
      </div>

      <div class="main-header">
        <div class="logo">
          <img th:src="@{/img/home/logo.png}" alt="logo">
          <a th:href="@{/}">
            <p>BDLV <span>gaming</span></p>
          </a>
        </div>
        <nav class="nav-menu">
          <a href="#best-seller">Game bán chạy</a>
          <a href="#list-newest">Game mới ra mắt</a>
          <div class="main-header-category">
            <div class="category-detail-toggle">
              <p>Thể loại</p>
              <img th:src="@{/img/home/arrowDown.png}" alt="">
            </div>
            <div class="category-detail">
              <!-- /category/{id}: Đây là một URL mẫu, trong đó {id} là một phần động của URL.
                   (id=${category.categoryId}): Phần này sẽ thay thế {id} trong URL mẫu bằng giá trị của employee.id.
              -->
              <a th:href="@{/category/{id}(id=${category.categoryId})}" th:each="category:${categoryList}">
                [[${category.categoryName}]]
              </a>
            </div>
          </div>
        </nav>
        <div class="icons">
          <a th:href="@{/user_info}"><img th:src="@{/img/home/user.png}" alt="Lỗi hiển thị"></a>
          <a th:href="@{/cart}"><img th:src="@{/img/home/cart.png}" alt="Lỗi hiển thị"></a>
        </div>
      </div>
    </header>

    <!-- Tab Navigation -->
    <div class="tab-container">
      <aside class="tab-menu">
        <!-- Tên, chỉnh sửa hồ sơ -->
        <div class="profile">
          <a href="#"><img th:src="@{/img/user/avt2.jpg}" alt="Profile" class="profile-img"></a>

          <p class="username" th:text="${userInfo.fullName}"></p>
          <a href="#" class="edit-profile">Sửa Hồ Sơ</a>
        </div>

        <!-- Menu -->
        <ul>
          <li data-tab="profile" >
            <i class="icon user-icon"></i>
            Tài Khoản Của Tôi
          </li>
          <li data-tab="orders" class="active">
            <i class="icon orders-icon"></i>
            Đơn Mua
          </li>
          <li data-tab="notifications">
            <i class="icon notifications-icon"></i>
            Thông Báo
          </li>
        </ul>
      </aside>

      <!-- Tab Content -->
      <main class="tab-content">
        <!-- Tài Khoản Của Tôi -->
        <div id="profile" class="tab-pane">
          <h2>Hồ Sơ Của Tôi</h2>
          <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
          <form id="profile-form" action="/update_user" method="post" th:object="${userInfo}">

            <div class="col1">
              <div class="col2">
                <label for="username">Tên đăng nhập</label>
<!--                <input type="text" id="username" th:value="${userInfo.fullName}">-->
                <input type="text" id="username" th:field="*{fullName}" required>

<!--                <label for="name">Đổi mật khẩu</label>-->
<!--                <input type="text" id="name" th:value="${userInfo.password}">-->

                <label for="email">Email</label>
<!--                <input type="text" id="email" th:value="${userInfo.email}">-->
                <input type="text" id="email" th:field="*{email}" required>
              </div>
            </div>
                <label for="phone">Số điện thoại</label>
                <div class="phone-container">
<!--                  <input type="text" id="phone" th:value="${userInfo.phone}">-->
                  <input type="text" id="phone" th:field="*{phone}" required>
                </div>

            <button type="submit" class="save-btn">Lưu</button>

          </form>
        </div>

        <div id="orders" class="tab-pane active">
          <h2>Đơn Mua</h2>
          <div class="order" th:each="game : ${games}">
            <div class="order-header">
              <span th:text="${game.gameName}">Tên Game</span>
              <a href="#" class="chat">Chat</a>
              <a href="#" class="view-shop">Xem Shop</a>
            </div>
            <div class="order-details">
              <a href="#"><img th:src="${game.gameImg}" alt="Lỗi hiển thị" class="product-img">Hình ảnh</a>
              <div class="product-info">
                <p th:text="${game.description}">Mô tả</p>
                <span th:each="category : ${game.categoryGames}" th:text="${category.category.categoryName}">Danh mục</span>
              </div>
              <div class="price">
                <p><span class="new-price" th:text="${game.price}"></span></p>
              </div>
            </div>

            <hr>

            <div class="order-footer">
              <div class="order-total">
                <p>Thành tiền: <span class="total-price" th:text="${game.price}"></span></p>
              </div>

              <div class="order-actions">
                <button class="rate-button">Đánh Giá</button>
                <button class="contact-button">Liên Hệ Người Bán</button>
                <button class="reorder-button">Mua Lại</button>
              </div>
            </div>
          </div>

        </div>

        <!-- Thông Báo -->
        <div id="notifications" class="tab-pane">
          <h2>Thông Báo</h2>
          <p>Không có thông báo nào!</p>
        </div>
      </main>
    </div>
</body>
</html>