@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.listGameAdminAG > p {
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--main-color);
    font-weight: 600;
}

.list-table-ag {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.list-table-format-ag {
    display: flex;
    width: 95%;
    /*grid-template-columns: 1fr 1fr 3fr 1fr 1.5fr 2fr 0.1fr;*/
    align-items: center;
    gap: 15px;
    padding: 8px 10px;
    border: 1px solid rgba(30, 165, 195, 0.3);
    font-size: 17px;
    color: var(--main-color);
    text-align: center;
    box-shadow: 1px 1px 3px rgb(1, 76, 89, 0.1);
    /*background: rgba(2, 95, 116, 0.31);*/
}

.list-table-format-ag:hover {
    background-color: rgba(35, 210, 251, 0.05);
}

.list-table-format-ag .column {
    flex: 2;
}


.list-table-format-ag.title h3{
    margin-left: 30px;
    text-align: start;
}

.list-table-format-ag.title {
    background-color: rgba(35, 210, 251, 0.05);

}

.list-table-format-ag.title a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.list-table-format-ag a img {
    width: 20px;
    object-fit: cover;
}

.list-table-format-ag img {
    width: 100px;
    object-fit: cover;
}