@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    /*min-height: 100vh;*/
}

:root{
    --main-color: rgb(30, 165, 195);
    --fontSize-main: 16px;
    --banner-color: rgb(217, 235, 254);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-color);
}

/*header*/

header {
    width: 100%;
    animation: fadeIn 2.2s;
    box-shadow: 1px 1px 0 rgb(1, 76, 89, 0.2);
    margin-bottom: 20px;
}

a{
    transition: all 0.5s ease-in-out;
    color: #232323;
}
a:hover{
    transform: scale(1.04);
    color: var(--main-color);
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(196, 236, 247, 0.2);
    font-size: 18px;
    align-items: center;
    transition: All 0.3s ease-in-out;
}

.top-header a {
    text-decoration: none;
    margin-right: 15px;
    transition: all 0.4s ease-in-out;
}

.top-header a:hover {
    transform: scale(1.04);
    color: var(--main-color);
}

.top-icons .icons img{
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out; ;
}
.top-icons .icons img:hover{
    transform: scale(1.08);
}

.search{
    position: relative;
    height: 45px;
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
}
.search input{
    font-size: var(--fontSize-main);
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    color: #025f74;
    background: linear-gradient(90deg, rgba(14, 203, 245,0.2), rgba(62, 233, 249, 0.2))
}

.search img{
    top: 20%;
    right: 2%;
    position: absolute;
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out; ;
}

.search img:hover{
    transform: scale(1.08);
}

.main-header{
    padding: 1.5% 4%;
    padding-left: 6%;
    /*border: 1px black solid;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontSize-main);
    font-weight: bold;
}
.main-header .logo{
    display: flex;
    align-items: center;
}

@keyframes enterAndExit {
    0% {
        left: -8%;
    }
    50%{
        left: 2%;
    }
    55%,95%{
        left: 0; /* Thoát ra khỏi bên phải */
    }
    100%{
        left: -8%;
    }
}

.main-header .logo img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 8%;
    left: -8%; /* Bắt đầu từ ngoài bên trái */
    animation: enterAndExit 8s ease-in-out infinite 1s;
}

.main-header .logo p {
    font-size: 26px;
}

.main-header .logo span{
    font-weight: 400;
}

.main-header .nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;

}

.main-header .icons{
    display: flex;
    gap: 30px;
}
.icons a img{
    width: 25px;
    height: 25px;
}

/* Sidebar and Container Styles */
/*.container {*/
/*    display: flex;*/
/*    height: 100vh;*/
/*}*/

/*.sidebar {*/
/*    width: 250px;*/
/*    background-color: #fff;*/
/*    padding: 30px;*/
/*    border-right: 1px solid #ddd;*/
/*    height: 100%;*/
/*}*/

.profile {
    flex: 1; /*profile chiêm phần còn lại trong sidebar*/
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu ul li {
    margin-bottom: 10px;

}

.menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.menu ul li a.active {
    color: var(--main-color);
    font-weight: bold;
}

/*.content {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*}*/

/* Tab Menu Styles */
.tab-container {
    display: flex;
    flex: 1; /* Cho phép container chiếm phần còn lại của chiều cao */
    height: 100vh;
    background-color: #fff;
}

.tab-menu {
    width: 20%;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}

.tab-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-menu li {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.tab-menu li.active {
    background-color: var(--main-color);
    color: #fff;
}

.tab-menu li:hover {
    background-color: #e1fdff;
}

.tab-content {
    width: 75%;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane p {
    color: black;
}

.tab-pane input {
    width: 90%;
    margin-left: 10%;
}

.gender-container {
    display: flex; /* Đảm bảo các phần tử nằm ngang */
    margin-left: 10%;
    gap: 1px; /* Khoảng cách giữa các phần tử */
    justify-content: flex-start; /* Canh các phần tử về bên trái */

}

.gender-container label {
    margin: 0;
    white-space: nowrap; /* Đảm bảo nội dung không xuống dòng */
    font-weight: normal;
    color: black;
}

.gender-container input[type="radio"] {
    width: 15px; /* Đặt chiều rộng */
    height: 15px; /* Đặt chiều cao */
    margin-right: 5px; /* Khoảng cách giữa radio và label */
    margin-left: 15px;
}

.dob-container {
    display: flex;
    margin-left: 10%;
}

.dob-container select{
    margin-right: 10px;
}

/* Form Elements */
label {
    display: block;
    margin-top: 25px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/*button {*/
/*    padding: 5px 10px;*/
/*    border: 1px solid #007bff;*/
/*    border-radius: 4px;*/
/*    background-color: #fff;*/
/*    color: #007bff;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*button:hover {*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*}*/

/*!* Utility Styles *!*/
/*hr {*/
/*    width: 100%;*/
/*    border: none;*/
/*    border-top: 1px solid #76ccff;*/
/*    margin: 40px auto;*/
/*}*/

.save-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: rgb(26, 137, 161);
}

/*@keyframes enterAndExit {*/
/*    0% { left: -8%; }*/
/*    50% { left: 2%; }*/
/*    100% { left: -8%; }*/
/*}*/

.order {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.order-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.order-header a {
    text-decoration: none;
    color: #007bff;

    font-size: 14px; /* Kích thước chữ */
    margin-left: 10px; /* Khoảng cách giữa các liên kết */
    padding: 5px 10px; /* Khoảng cách bên trong */
    border: 1px solid #007bff; /* Viền màu xanh lam */
    border-radius: 4px; /* Bo tròn góc */
    background-color: #fff; /* Nền trắng */
    transition: all 0.3s ease; /* Hiệu ứng khi hover */
}

.order-header a:hover {
    background-color: #007bff; /* Nền xanh lam khi hover */
    color: #fff; /* Chữ màu trắng khi hover */
}

.order-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.product-info {
    flex: 1;
}

.price {
    text-align: right;
}

.new-price {
    color: #ff5722;
    font-weight: bold;
}

.order-footer {
    display: flex;
    flex-direction: column; /* Chuyển các phần tử con thành các dòng riêng */
    gap: 10px; /* Khoảng cách giữa các dòng */
}

.order-total {
    display: flex;
    justify-content: flex-end; /* Căn đều giữa văn bản */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.order-actions {
    display: flex;
    justify-content: flex-end; /* Căn các nút sang bên trái */
    gap: 10px; /* Khoảng cách giữa các nút */
}


button {
    text-decoration: none;
    color: #007bff;

    font-size: 14px; /* Kích thước chữ */
    margin-left: 10px; /* Khoảng cách giữa các liên kết */
    padding: 5px 10px; /* Khoảng cách bên trong */
    border: 1px solid #007bff; /* Viền màu xanh lam */
    border-radius: 4px; /* Bo tròn góc */
    background-color: #fff; /* Nền trắng */
    transition: all 0.3s ease; /* Hiệu ứng khi hover */
}

button:hover {
    background-color: #007bff; /* Nền xanh lam khi hover */
    color: #fff; /* Chữ màu trắng khi hover */
}

.rate-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.rate-button:hover {
    background-color: #0065ba;
}

.total-price {
    font-weight: bold;
    color: #ff5722;
    font-size: large;
}

hr {
    width: 100%;
    border: 0;  /* Loại bỏ các border mặc định */
    border-top: 1px solid #76ccff; /* Đặt màu trắng cho đường kẻ ngang */
    margin: 40px auto;
}

/* Khung chứa ảnh và button */
.profile-container {
    width: 30%;
    text-align: center;
}

.profile-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #3ca5c3;
    padding: 50px;
    border-radius: 10px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.profile-img-container p{
    margin-top: 10px;
}

/* Button thay đổi ảnh */
#change-avatar-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#change-avatar-btn:hover {
    background-color: #0056b3;
}

.col1 {
    display: flex;
    width: 100%;
}

.col2 {
    width: 65%;
    margin-right: 5%;

}

.col2 input {
    margin-left: 15%;
}
