


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail Page</title>
    <link rel="stylesheet" th:href="@{/chitietsanpham/style.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<body>
<!--    header-->
<header>
    <div class="top-header">
        <div class="top-icons">
            <a href="#" class="icons">
                <img src="/img/home/facebook.png" alt="Lỗi hiển thị">
            </a>
            <a href="#" class="icons">
                <img src="/img/home/tiktok.png" alt="Lỗi hiển thị">
            </a>
            <a href="#" class="icons">
                <img src="/img/home/twitter.png" alt="Lỗi hiển thị">
            </a>
        </div>
        <div class="search">
            <input type="text" name="inputName" autofocus placeholder="Bạn thích tựa game nào nhỉ ?">
            <a href="#"><img src="/img/home/search.png" alt="Lỗi hiển thị"></a>
        </div>
        <a href="#">Theo dõi đơn hàng</a>
    </div>

    <div class="main-header">
        <div class="logo">
            <img src="/img/home/logo.png" alt="logo">
            <p>BDLV <span>gaming</span></p>
        </div>
        <nav class="nav-menu">
            <a href="#">Trang chủ</a>
            <a href="#">Game bán chạy</a>
            <a href="#">Game mới ra mắt</a>
            <a href="#">Thể loại</a>
        </nav>
        <div class="icons">
            <a href="/user_info"><img src="/img/home/user.png" alt="Lỗi hiển thị"></a>
            <a href="/cart"><img src="/img/home/cart.png" alt="Lỗi hiển thị"></a>
        </div>
    </div>
</header>

<!--<div class="header-cart">-->
<!--    <h1>Giỏ hàng</h1>-->
<!--    <div class="breadcrumb">-->
<!--        <a href="/">Trang chủ</a> | <a href="/cart">Giỏ hàng</a>-->
<!--    </div>-->
<!--</div>-->
<!---->



<!---->
<div class="chitietsanpham">
    <div class="product-container">
        <div class="image-section">

            <img id="main-image" th:src="${'/uploadImgGame/'+game.gameImg}" alt="Game Image">
<!--            <div class="thumbnail-container">-->
<!--                <img src="https://down-vn.img.susercontent.com/file/vn-11134258-7ras8-m35bdplluaj25f" alt="Thumbnail 1" onclick="updateMainImage(this)">-->
<!--                <img src="https://down-vn.img.susercontent.com/file/sg-11134201-7qvfw-lj5pfdczca2f5a.webp" alt="Thumbnail 2" onclick="updateMainImage(this)">-->
<!--                <img src="https://down-vn.img.susercontent.com/file/sg-11134201-7qvei-lj5pfgn6jbk99f.webp" alt="Thumbnail 3" onclick="updateMainImage(this)">-->
<!--                <img src="https://down-vn.img.susercontent.com/file/sg-11134201-7qvg5-lj5pfdxshu9ffc.webp" alt="Thumbnail 4" onclick="updateMainImage(this)">-->
<!--            </div>-->
        </div>

        <div class="info-section">
            <h1 th:text="${game.gameName}" ></h1>
            <p th:text="${getAverageScore} + ' ★ | ' + ${getTotalReviews} + ' lượt đánh giá'"
               style="color: #e58d4a; font-size: 0.95em;"></p>

            <p th:text="${game.description}">
            </p>

            <p  style="color: #e58d4a; font-size: 0.95em;">
                Số lượng trong kho còn
                <span  id="quantity" th:text="${soluonggamechuaban}"></span>
            </p>

            <p><strong>Price:</strong> <span th:text="${game.price}"> </span></p>
            <div class="nut">
                <a id="add-to-cart" class="add-to-cart" th:href="@{/game/add/{id}(id=${game.gameId})}">Thêm vào giỏ hàng</a>
                <a  id="buy-now" class="buy-now" th:href="@{/xacnhandonhang(selectedGames=${gameId})}">Mua ngay</a>
            </div>


        </div>
    </div>


    <div class="container_formdanhgia" style="padding:20px 0px; ">
        <!-- Form đánh giá sản phẩm -->
        <form action="/product/review" method="post" id="reviewForm">
            <input type="hidden" name="gameId" th:value="${game.gameId}" />
            <input type="hidden" name="score" id="hiddenRating" />

            <div class="form-group">
                <label for="rating" style="font-size: 28px; color: black;font-weight: bold;">Đánh giá sản phẩm</label>
                <div class="star-rating" >
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
            </div>

            <div class="form-group">
                <textarea id="comment" name="comment" rows="5" placeholder="Nhập đánh giá của bạn..." required oninput="autoResize(this)" style="resize: none; width: 100%;"></textarea>
            </div>

            <button type="submit" class="submit-button">Gửi đánh giá</button>
        </form>
    </div>
    <!--  -->
    <div class="container">
        <div class="header">
            <div class="rating">
                <strong th:text="${getAverageScore}+ ' trên'"></strong> <span style="color: #f48036; font-size: 1.1em; padding:0px 0px 5px 0px;">★★★★★</span>
            </div>
            <div class="filter">
                <button class="filter-button active" data-rating="all">Tất Cả</button>
                <button class="filter-button" data-rating="5">5 Sao </button>
                <button class="filter-button" data-rating="4">4 Sao </button>
                <button class="filter-button" data-rating="3">3 Sao </button>
                <button class="filter-button" data-rating="2">2 Sao </button>
                <button class="filter-button" data-rating="1">1 Sao </button>
            </div>
        </div>




        <div class="container_review">
            <div th:each="review : ${reviews}" class="review"  th:attr="data-rating=${review.score}">
                <div class="review-header">
                    <div class="tennguoidanhgia">
                        <strong th:text="${review.user.fullName}">Người dùng</strong>
                    </div>
                    <div class="review-date" th:text="${#dates.format(review.createDate, 'yyyy-MM-dd')}">2023-12-20</div>
                </div>
                <div class="review-content">
                    <div class="review-rating">
                        <span th:text="${'★★★★★'.substring(0, review.score)}">★★★★★</span>
                    </div>
                    <div th:text="${review.comment}">Nội dung đánh giá nằm ở đây...</div>
                </div>
            </div>
        </div>
        
    </div>



</div>

<script th:src="@{/chitietsanpham/script.js}"></script>

</body>
</html>
